@use "variables" as v;
// @use "mixins" as m;
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    position: relative;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.6rem;
    user-select: none;
    overscroll-behavior: contain;
    background-color: v.$bg-color;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  ul {
    margin: 0;
    padding: 0;
  }
  