/* ========================================
Fonts
========================================= */
$main-font: "Inter", sans-serif;
/* ========================================
Colors
========================================= */
$main-color: #4275A3;
$bg-color: #E7EFF6;
$white: #fff;
$black: #000;