html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
}
