<!DOCTYPE html>
<html lang="es">
  <body>
    <form
      id="formData_exploracion_fisica"
      class="lg:container lg:mx-auto bg-background p-10 space-y-8 rounded-b-lg"
      method="post"
      action="{% url 'medical:guarda_exploracion' %}"
    >
    {% if paciente %}
    <div class="w-full bg-red-200 border-red-500  rounded-lg p-3 text-center">
      Historia clinica del paciente: {{ paciente.nombre }} {{ paciente.apellido_pat }} {{ paciente.apellido_mat }}
    </div>
    {% endif %}

          {% if success_msg_examen_fisico %}
      <div class="alert alert-success" style="color: green;">
          {{ success_msg_examen_fisico }}
      </div>
  {% endif %}

  {%if error_msg_examen_fisico %}
  <div class="alert alert-success" style="color: red;">
    {{ error_msg_examen_fisico }}
</div>
{% endif %}

      <h1 class="text-xl font-bold text-main uppercase">Exploración Física</h1>

      <div class="w-full gap-10 grid lg:grid-cols-2 ">
        <!-- ========================================
         Contenedor de Exploracion Fisica
      ======================================== -->
      <div class="space-y-5">
        {% comment %} Frecuencia cardiaca, frecuencia respiratoria y Oxigeno
        {% endcomment %}
        <div class="grid grid-cols-3 gap-4">
          {% comment %} Frecuencia Cardiaca {% endcomment %}
          <div>
            <label
              for="frecuencia_cardiaca"
              class="block mb-2 text-sm font-semibold uppercase"
              >FC <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="frecuencia_cardiaca"
                name="frecuencia_cardiaca"
                class="w-full border-none rounded-md bg-white shadow-sm appearance-none"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">Ipm</p>
            </div>
        </div>

          {% comment %} Frecuencia Respiratoria {% endcomment %}
          <div>
            <label
              for="frecuencia_respiratoria"
              class="block mb-2 text-sm font-semibold uppercase"
              >FR <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="frecuencia_respiratoria"
                name="frecuencia_respiratoria"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">Rpm</p>
            </div>
          </div>

          {% comment %} Oxigenacion {% endcomment %}
          <div>
            <label for="saturacion_oxigeno" class="block mb-2 text-sm font-semibold uppercase"
              >SpO2 <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="saturacion_oxigeno"
                name="saturacion_oxigeno"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">%</p>
            </div>
          </div>
        </div>

        {% comment %} Temperatura, Presion Arterial y Glucosa {% endcomment %}
        <div class="grid grid-cols-3 gap-4">
          {% comment %} Temperatura {% endcomment %}
          <div>
            <label for="temperatura" class="block mb-2 text-sm font-semibold uppercase"
              >Temp <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="temperatura"
                name="temperatura"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">°C</p>
            </div>
          </div>

          {% comment %} Presion Arterial {% endcomment %}
          <div>
            <label
              for="presion_arterial"
              class="block mb-2 text-sm font-semibold uppercase"
              >TA <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="presion_arterial"
                name="presion_arterial"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="text"
              />
              <p class="absolute inset-y-0 flex items-center right-2">mmHg</p>
            </div>
          </div>

          {% comment %} Glucosa Capilar {% endcomment %}
          <div>
            <label
              for="glucosa"
              class="block mb-2 text-sm font-semibold uppercase truncate"
              >Guclosa Capilar <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="glucosa"
                name="glucosa"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">mg/dl</p>
            </div>
          </div>
        </div>

        {% comment %} Contenedor Talla, Peso y IMC {% endcomment %}
        <div class="grid grid-cols-3 gap-4">
          {% comment %} Talla {% endcomment %}
          <div>
            <label for="talla" class="block mb-2 text-sm font-semibold uppercase"
              >cm <span class="text-red-500">*</span></label
            >

            <div class="w-full relative bg-white rounded-lg">
              <input
                id="talla"
                name="talla"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">cm</p>
            </div>
          </div>

          {% comment %} Peso {% endcomment %}
          <div>
            <label for="peso" class="block mb-2 text-sm font-semibold uppercase"
              >kg <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="peso"
                name="peso"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
              <p class="absolute inset-y-0 flex items-center right-2">kg</p>
            </div>
          </div>

          {% comment %} IMC {% endcomment %}
          <div>
            <label for="imc" class="block mb-2 text-sm font-semibold uppercase"
              >IMC <span class="text-red-500">*</span></label
            >
            <div class="w-full relative bg-white rounded-lg">
              <input
                id="imc"
                name="imc"
                class="w-full border-none rounded-md bg-white shadow-sm"
                type="number"
              />
            </div>
          </div>
        </div>
      </div>
    

        <!-- ========================================
           Contenedor de Hallazgos
        ======================================== -->
        <div class="space-y-5">
          {% comment %} Hallazgoz {% endcomment %}
          <div>
            <label
              for="descripcion_exploracion"
              class="block mb-2 text-sm font-semibold uppercase"
              >Hallazgos <span class="text-red-500">*</span></label
            >
            <textarea
              id="descripcion_exploracion"
              name="descripcion_exploracion"
              class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
              placeholder="Escriba los hallazgos correspondientes"
            ></textarea>
          </div>

          {% comment %} Notas {% endcomment %}
          <div class="w-full">
            <label for="notes_exploracion" class="block mb-2 text-sm font-semibold uppercase">Notas</label>
            <textarea id="notes_exploracion" name="notas" class=" resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Agregue notas extra en caso de ser necesarias"></textarea>
          </div>
        </div>
      </div>

      {% csrf_token %}
      <!-- Campo oculto para almacenar el ID del paciente -->
      <input type="hidden" name="paciente_id" value="{{ paciente.id }}">
      {% comment %} Botones de formulario {% endcomment %}
      <div class="flex justify-center gap-10 mt-20">
        <a
          href="/"
          class="w-3/12 py-3 border-none bg-rojo focus:ring-2 focus:ring-offset-2 focus:ring-rojo text-center rounded-lg text-white font-semibold"
          >Cancelar</a
        >
        <button
          type="submit"
          class="w-3/12 py-3 border-none bg-main focus:ring-2 focus:ring-offset-2 focus:ring-main text-center rounded-lg text-white font-semibold"
        >
          Enviar Datos
        </button>
      </div>
    </form>
  </body>
  <script>
    // Obtener referencias a los elementos de entrada de altura, peso e IMC
    const tallaInput = document.getElementById('talla');
    const pesoInput = document.getElementById('peso');
    const imcInput = document.getElementById('imc');

    // Agregar eventos de escucha para calcular el IMC cuando se cambian los valores de altura y peso
    tallaInput.addEventListener('input', calcularIMC);
    pesoInput.addEventListener('input', calcularIMC);

    // Función para calcular el IMC
    function calcularIMC() {
      const talla = parseFloat(tallaInput.value);
      const peso = parseFloat(pesoInput.value);

      if (isNaN(talla) || isNaN(peso)) {
        imcInput.value = ''; // Limpiar el campo IMC si los valores no son numéricos
      } else {
        const imc = peso / ((talla / 100) ** 2); // Fórmula del IMC
        imcInput.value = imc.toFixed(2); // Mostrar el IMC con dos decimales
      }
    }

    // Función para actualizar el campo oculto de IMC antes de enviar el formulario
    function actualizarIMC() {
      const imc = imcInput.value;
      document.getElementById('imc').value = imc;
    }

  
  </script>
</html>
