<!DOCTYPE html>
<html lang="es">
  <body>
    <form
      id="form_exploracion_fisica"
      class="lg:container lg:mx-auto bg-background p-10 space-y-8 rounded-b-lg"
    >
      <h1 class="text-xl font-bold text-main">Exploración Física</h1>

      <div class="w-full flex gap-20">


      {% comment %} Frecuencia cardiaca, frecuencia respiratoria, Oxigeno, IMC y
      Presion {% endcomment %}
      <div class="space-y-5">
        {% comment %} Frecuencia Cardiaca {% endcomment %}
        <div>
          <label
            for="cardiac_frecuency"
            class="block mb-2 text-sm font-semibold"
            >FC</label
          >
          <div class="w-full flex items-center gap-2">
            <input
              id="cardiac_frecuency"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>Ipm</p>
          </div>
        </div>

        {% comment %} Frecuencia Respiratoria {% endcomment %}
        <div>
          <label
            for="respiratory_frecuency"
            class="block mb-2 text-sm font-semibold"
            >FR</label
          >
          <div class="flex items-center gap-2">
            <input
              id="respiratory_frecuency"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>Rpm</p>
          </div>
        </div>

        {% comment %} Oxigenacion {% endcomment %}
        <div>
          <label for="oxygenation" class="block mb-2 text-sm font-semibold"
            >SpO2</label
          >
          <div class="flex items-center gap-2">
            <input
              id="oxygenation"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>%</p>
          </div>
        </div>

        {% comment %} IMC {% endcomment %}
        <div>
          <label for="imc" class="block mb-2 text-sm font-semibold">IMC</label>
          <div class="flex items-center gap-2">
            <input
              id="imc"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
          </div>
        </div>

        {% comment %} Presion Arterial {% endcomment %}
        <div>
          <label
            for="arterial_pressure"
            class="block mb-2 text-sm font-semibold"
            >TA</label
          >
          <div class="flex items-center gap-2">
            <input
              id="arterial_pressure"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="text"
            />
            <p>mmHg</p>
          </div>
        </div>

      </div>



      {% comment %} Contenedor Temperatura, Talla, Peso y Glucosa {% endcomment %}
      <div class="space-y-5">

        {% comment %} Temperatura {% endcomment %}
        <div>
          <label for="temperature" class="block mb-2 text-sm font-semibold"
            >Temp</label
          >
          <div class="flex items-center gap-2">
            <input
              id="temperature"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>°C</p>
          </div>
        </div>

        {% comment %} Talla {% endcomment %}
        <div>
          <label for="size" class="block mb-2 text-sm font-semibold">cm</label>

          <div class="flex items-center gap-2">
            <input
              id="size"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>cm</p>
          </div>
        </div>

        {% comment %} Peso {% endcomment %}
        <div>
          <label for="weight" class="block mb-2 text-sm font-semibold"
            >kg</label
          >
          <div class="flex items-center gap-2">
            <input
              id="weight"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>kg</p>
          </div>
        </div>

        {% comment %} Glucosa Capilar {% endcomment %}
        <div>
          <label for="capillary_glucose" class="block mb-2 text-sm font-semibold"
            >Guclosa Capilar</label
          >
          <div class="flex items-center gap-2">
            <input
              id="capillary_glucose"
              class="w-32 border-none rounded-md bg-white shadow-sm"
              type="number"
            />
            <p>mg/dl</p>
          </div>
        </div>

      </div>

    </div>

      {% comment %} Botones de formulario {% endcomment %}
      <div class="flex justify-center gap-10 mt-20">
        <a
          href="/"
          class="w-3/12 py-3 border-none bg-rojo focus:ring-2 focus:ring-offset-2 focus:ring-rojo text-center rounded-lg text-white font-semibold"
          >Cancelar</a
        >
        <button
          type="submit"
          class="w-3/12 py-3 border-none bg-main focus:ring-2 focus:ring-offset-2 focus:ring-main text-center rounded-lg text-white font-semibold"
        >
          Enviar Datos
        </button>
      </div>
    </form>
  </body>
</html>
