<form class="lg:container lg:mx-auto bg-background p-10 space-y-8 rounded-lg">
  <div class="w-full">
    <label for="asunto" class="block mb-2 text-sm font-semibold uppercase"
      >¿Cuál es el motivo de su correo?<span class="text-red-500">*</span></label
    >
    <input
      id="asunto"
      name="asunto"
      class="uppercase w-full border-none rounded-md bg-white shadow-sm"
      type="text"
      placeholder="Escriba la razón de su correo"
    />
  </div>

  <div class="w-full">
    <label for="descripcion" class="block mb-2 text-sm font-semibold uppercase">Cuerpo del correo<span class="text-red-500">*</span></label>
    <textarea id="descripcion" name="descripcion" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"></textarea>
  </div>

  {% comment %} Botones de formulario {% endcomment %}
  <div class="flex justify-center gap-10 mt-20">
    <a href="/" class="w-3/12 py-3 border-none bg-rojo focus:ring-2 focus:ring-offset-2 focus:ring-rojo text-center rounded-lg text-white font-semibold">Cancelar</a>
    <button onclick="mostrarAlerta()" type="submit" class="w-3/12 py-3 border-none bg-main focus:ring-2 focus:ring-offset-2 focus:ring-main text-center rounded-lg text-white font-semibold">Enviar Correo</button>
  </div>
  
</form>
