<!DOCTYPE html>
<html lang="es">
  <body>
    <form
      id="formData_padecimiento_actual"
      class="lg:container lg:mx-auto bg-background p-10 space-y-8 rounded-b-lg"
      action="{% url 'medical:guarda_padecimiento' %}"
      method="post"
    >


    {% if paciente %}
    <div class="w-full bg-red-200 border-red-500 text-red-500 rounded-lg p-3 text-center">
      Historia clinica del paciente: {{ paciente.nombre }} {{ paciente.apellido_pat }} {{ paciente.apellido_mat }}
    </div>
    {% endif %}
    
    <h1 class="text-xl font-bold text-main uppercase">Padecimientos Actuales</h1>

      {% comment %} Padecimiento Actual {% endcomment %}
      <div class="w-full">
        <label for="padecimiento_actual" class="block mb-2 text-sm font-semibold uppercase"
          >Padecimiento Actual <span class="text-red-500">*</span></label
        >
        <textarea
          name="padecimiento_actual"
          id="padecimiento_actual"
          class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
          placeholder="Escriba el padecimiento actual"
          name="padecimiento_actual"
        ></textarea>
      </div>

      <!-- ========================================
         Interrogativo por aparatos y sistemas
      ======================================== -->
      <div class="w-full space-y-8">
        <label class="block mb-4 font-semibold uppercase"
          >Interrogativo por Aparatos y Sistemas</label
        >
        {% comment %} Piel y Tegumentos {% endcomment %}
        <div class="w-full">
          <label for="piel_tegumentos" class="block mb-2 text-sm font-semibold uppercase"
            >Piel y Tegumentos <span class="text-red-500">*</span></label
          >
          <textarea
            name="piel_tegumentos"
            id="piel_tegumentos"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"
            name="piel_tegumentos"
          ></textarea>
        </div>

        {% comment %} Cabeza y Cuello {% endcomment %}
        <div class="w-full">
          <label for="cabeza_cuello" class="block mb-2 text-sm font-semibold uppercase"
            >Cabeza y Cuello <span class="text-red-500">*</span></label
          >
          <textarea
            name="cabeza_cuello"
            id="cabeza_cuello"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"
            name="cabeza_cuello"
          ></textarea>
        </div>

        {% comment %} Torax {% endcomment %}
        <div class="w-full">
          <label for="torax" class="block mb-2 text-sm font-semibold uppercase">Torax <span class="text-red-500">*</span></label>
          <textarea
            name="torax"
            id="torax"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"></textarea>
        </div>

        {% comment %} Abdomen {% endcomment %}
        <div class="w-full">
          <label for="abdomen" class="block mb-2 text-sm font-semibold uppercase">Abdomen <span class="text-red-500">*</span></label>
          <textarea
            name="abdomen"
            id="abdomen"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"></textarea>
        </div>

        {% comment %} Genitourinario {% endcomment %}
        <div class="w-full">
          <label for="genitourinario" class="block mb-2 text-sm font-semibold uppercase">Genitourinario <span class="text-red-500">*</span></label>
          <textarea
            name="genitourinario"
            id="genitourinario"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"></textarea>
        </div>

        {% comment %} Musculo Esqueletico y Extremidades {% endcomment %}
        <div class="w-full">
          <label for="musculo_extremidades" class="block mb-2 text-sm font-semibold uppercase">Músculo Esquelético y Extremidades <span class="text-red-500">*</span></label>
          <textarea
            name="musculo_extremidades"
            id="musculo_extremidades"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"></textarea>
        </div>   
        
        {% comment %} Neurologico {% endcomment %}
        <div class="w-full">
          <label for="neurologico" class="block mb-2 text-sm font-semibold uppercase">Neurológico <span class="text-red-500">*</span></label>
          <textarea
            name="neurologico"
            id="neurologico"
            class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase"
            placeholder="Escriba los interrogativos correspondientes"></textarea>
        </div>
      </div>

        {% comment %} Notas {% endcomment %}
        <div class="w-full">
          <label for="notas_padecimientos" class="block mb-2 text-sm font-semibold uppercase">Notas</label>
          <textarea name="notas" id="notas_padecimientos" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Agregue notas extra en caso de ser necesarias"></textarea>
        </div>
        
        {% csrf_token %}
        <!-- Campo oculto para almacenar el ID del paciente -->
        <input type="hidden" name="paciente_id" value="{{ paciente.id }}">
        {% comment %} Botones de formulario {% endcomment %}
        <div class="flex justify-center gap-10 mt-20">
          <a href="/" class="w-3/12 py-3 border-none bg-rojo focus:ring-2 focus:ring-offset-2 focus:ring-rojo text-center rounded-lg text-white font-semibold">Cancelar</a>
          <button type="submit" class="w-3/12 py-3 border-none bg-main focus:ring-2 focus:ring-offset-2 focus:ring-main text-center rounded-lg text-white font-semibold">Enviar Datos</button>
        </div>
    </form>

    <script>
      document.getElementById("formData_padecimiento_actual").addEventListener("submit", function(event) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del formulario

        // Obtener los datos del formulario
        const formData = new FormData(this);

        // Validar campos requeridos
        const padecimiento_actual = formData.get("padecimiento_actual");
        const piel_tegumentos = formData.get("piel_tegumentos");
        const cabeza_cuello = formData.get("cabeza_cuello");
        const torax = formData.get("torax");
        const abdomen = formData.get("abdomen");
        const genitourinario = formData.get("genitourinario");
        const musculo_extremidades = formData.get("musculo_extremidades");
        const neurologico = formData.get("neurologico");

        if(padecimiento_actual && piel_tegumentos && cabeza_cuello && torax && abdomen && genitourinario && musculo_extremidades && neurologico){
                      // Enviar los datos utilizando fetch
        fetch("padecimiento/", {
          method: "POST",
          body: formData
      })
      .then(response => {
          if (response.ok) {
              // La respuesta del servidor fue exitosa
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })
              
              Toast.fire({
                icon: 'success',
                title: 'Datos enviados correctamente'
              })

              // Limpiar TODOS los datos del formulario
            document.getElementById("padecimiento_actual").value = "";
            document.getElementById("piel_tegumentos").value = "";
            document.getElementById("cabeza_cuello").value = "";
            document.getElementById("torax").value = "";
            document.getElementById("abdomen").value = "";
            document.getElementById("genitourinario").value = "";
            document.getElementById("musculo_extremidades").value = "";
            document.getElementById("neurologico").value = "";
            document.getElementById("notas_padecimientos").value = "";


          } else {
            console.log(formData);
              // La respuesta del servidor no fue exitosa
              Swal.fire(
                '¡Error al enviar!',
                'Error al enviar los datos',
                'error'
              )
          }
      })
      .catch(error => {
          // Ocurrió un error en la solicitud
          // Puedes manejar el error de acuerdo a tus necesidades
          console.log(error);
          Swal.fire(
            '¡Error al enviar!',
            `Error en la solicitud, ${error}`,
            'error'
          )
      });

        }else{
          Swal.fire(
            '¡Error al enviar!',
            'Rellena todos los campos obligatorios (*)',
            'error'
          )
        }
    });
    </script>
  </body>
</html>
