<!-- Mostrar alerta de Historia Clínica -->
{% if paciente %}
<div class="w-full bg-blue-200 border-blue-500 text-blue-500 rounded-lg p-3 text-center">
  Historia clínica del paciente: {{ paciente.nombre }} {{ paciente.apellido_pat }} {{ paciente.apellido_mat }}
</div>
{% endif %}

<!-- Alertas de error/success -->
{% if error_msg_padecimiento %}
<div class="w-full bg-red-200 border-red-500 text-red-500 rounded-lg p-3 text-center">
  {{ error_msg_padecimiento }}
</div>
{% endif %}

<h1 class="text-xl font-bold text-main uppercase">Padecimiento Actual</h1>

<div class="w-full">
  <label for="padecimiento_actual" class="block mb-2 text-sm font-semibold uppercase">Padecimiento Actual <span class="text-red-500">*</span></label>
  <textarea id="padecimiento_actual" name="padecimiento_actual" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Escriba el padecimiento actual">{% if datos_formulario %}{{ datos_formulario.padecimiento_actual }}{% elif paciente %}{{ padecimiento.padecimiento_actual }}{% endif %}</textarea>
</div>

<div class="w-full space-y-8">
  <label class="block mb-4 font-semibold uppercase">Interrogatorio por Aparatos y Sistemas</label>

  <div class="w-full">
    <label for="piel_tegumentos" class="block mb-2 text-sm font-semibold uppercase">Piel y Tegumentos <span class="text-red-500">*</span></label>
    <textarea id="piel_tegumentos" name="piel_tegumentos" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.piel_tegumentos }}{% elif paciente %}{{ padecimiento.piel_tegumentos }}{% endif %}</textarea>
  </div>

  <div class="w-full">
    <label for="cabeza_cuello" class="block mb-2 text-sm font-semibold uppercase">Cabeza y Cuello <span class="text-red-500">*</span></label>
    <textarea id="cabeza_cuello" name="cabeza_cuello" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.cabeza_cuello }}{% elif paciente %}{{ padecimiento.cabeza_cuello }}{% endif %}</textarea>
  </div>

  <div class="w-full">
    <label for="torax" class="block mb-2 text-sm font-semibold uppercase">Torax <span class="text-red-500">*</span></label>
    <textarea id="torax" name="torax" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.torax }}{% elif paciente %}{{ padecimiento.torax }}{% endif %}</textarea>
  </div>

  <div class="w-full">
    <label for="abdomen" class="block mb-2 text-sm font-semibold uppercase">Abdomen <span class="text-red-500">*</span></label>
    <textarea id="abdomen" name="abdomen" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.abdomen }}{% elif paciente %}{{ padecimiento.abdomen }}{% endif %}</textarea>
  </div>

  <div class="w-full">
    <label for="genitourinario" class="block mb-2 text-sm font-semibold uppercase">Genitourinario <span class="text-red-500">*</span></label>
    <textarea id="genitourinario" name="genitourinario" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.genitourinario }}{% elif paciente %}{{ padecimiento.genitourinario }}{% endif %}</textarea>
  </div>

  <div class="w-full">
    <label for="musculo_extremidades" class="block mb-2 text-sm font-semibold uppercase">Músculo Esquelético y Extremidades <span class="text-red-500">*</span></label>
    <textarea id="musculo_extremidades" name="musculo_extremidades" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.musculo_extremidades }}{% elif paciente %}{{ padecimiento.musculo_extremidades }}{% endif %}</textarea>
  </div>   

  <div class="w-full">
    <label for="neurologico" class="block mb-2 text-sm font-semibold uppercase">Neurológico <span class="text-red-500">*</span></label>
    <textarea id="neurologico" name="neurologico" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Describa lo referido por el paciente">{% if datos_formulario %}{{ datos_formulario.neurologico }}{% elif paciente %}{{ padecimiento.neurologico }}{% endif %}</textarea>
  </div>
</div>

<div class="w-full">
  <label for="notas_padecimientos" class="block mb-2 text-sm font-semibold uppercase">Notas</label>
  <textarea id="notas_padecimientos" name="notas" class="resize-none w-full border-none rounded-md bg-white shadow-sm uppercase" placeholder="Agregue notas extra en caso de ser necesarias">{% if datos_formulario %}{{ datos_formulario.notas }}{% elif paciente %}{{ padecimiento.notas }}{% endif %}</textarea>
</div>

{% csrf_token %}
<!-- Campo oculto para almacenar el ID del paciente -->
<input type="hidden" name="paciente_id" value="{{ paciente.id }}">

<!-- Botones de formulario -->
<div class="flex justify-center gap-10 mt-20">
  <a href="/" class="w-3/12 py-3 border-none bg-rojo focus:ring-2 focus:ring-offset-2 focus:ring-rojo text-center rounded-lg text-white font-semibold">Cancelar</a>
  <button onclick="mostrarAlerta()" type="submit" class="w-3/12 py-3 border-none bg-main focus:ring-2 focus:ring-offset-2 focus:ring-main text-center rounded-lg text-white font-semibold">Enviar Datos</button>
</div>
