{% load static %}
<!DOCTYPE html>
<html lang="es">
  <body>
    <div id="botonera" class="flex lg:container lg:mx-auto border-b-2 border-main shadow-sm">
        <a id="fichaLink" href="/create-file/ficha" class="py-2 px-4 rounded-t-lg border-gray-200 bg-white">Ficha de Identificación</a>
        <a id="antecedentesLink" href="/create-file/antecedentes" class="py-2 px-4 rounded-t-lg border-gray-200 bg-white" type="button">Antecedentes</a>
        <a id="padecimientosLink" href="/create-file/padecimientos" class="py-2 px-4 rounded-t-lg border-gray-200 bg-white">Padecimientos Actuales</a>
        <a id="exploracionLink" href="/create-file/exploracion" class="py-2 px-4 rounded-t-lg border-gray-200 bg-white">Exploración Física</a>
        <a id="consultasLink" href="/create-file/consultas" class="py-2 px-4 rounded-t-lg border-gray-200 bg-white">Consultas</a>
      </div>

      <script>
          // Obtener la URL actual
          let currentURL = window.location.href;

          // Obtener los elementos de los enlaces
          let fichaLink = document.getElementById('fichaLink');
          let antecedentesLink = document.getElementById('antecedentesLink');
          let padecimientosLink = document.getElementById('padecimientosLink');
          let exploracionLink = document.getElementById('exploracionLink');
          let consultasLink = document.getElementById('consultasLink');
  
          // Verificar la URL actual y aplicar los estilos correspondientes
          if (currentURL.includes("/create-file/ficha")) {
              fichaLink.classList.add("bg-background");
              fichaLink.classList.add("font-bold");
              fichaLink.classList.remove("bg-white");
          } else if (currentURL.includes("/create-file/antecedentes")) {
            antecedentesLink.classList.add("bg-background");
            antecedentesLink.classList.add("font-bold");
            antecedentesLink.classList.remove("bg-white");
          } else if (currentURL.includes("/create-file/padecimientos")) {
            padecimientosLink.classList.add("bg-background");
            padecimientosLink.classList.add("font-bold");
            padecimientosLink.classList.remove("bg-white");
          } else if (currentURL.includes("/create-file/exploracion")) {
            exploracionLink.classList.add("bg-background");
            exploracionLink.classList.add("font-bold");
            exploracionLink.classList.remove("bg-white");
          } else if (currentURL.includes("/create-file/consultas")) {
            consultasLink.classList.add("bg-background");
            consultasLink.classList.add("font-bold");
            consultasLink.classList.remove("bg-white");
          }
          
      </script>
  </body>
</html>
