{% extends "base.html" %} {% load static %} {% block content %}
<section class="lg:px-0 min-h-screen">
  <!-- ========================================
    AQUI VA EL NAVBAR
 ======================================== -->
  {% include "plantillas/navbar.html" %}

  <!-- Header -->
  <div class="py-10 border-b-2 border-gray-200 bg-white md:px-6">
    <div class="lg:container lg:mx-auto">
      <h1 class="uppercase font-semibold text-main text-xl">
        Nuevo Expediente
      </h1>
      <p>Registra un nuevo expediente aquí.</p>
    </div>
  </div>

  <div class="py-10 bg-white md:px-6">
    <!-- ========================================
       Barra de navegacion para los formularios
    ======================================== -->
    {% include "plantillas/navbarFormularios.html" %}

    <!-- ========================================
       Formularios
    ======================================== -->

    <div id="form_ficha_identificacion">
      <form id="form_ficha_identificacion" class="lg:container lg:mx-auto bg-background p-10 space-y-8 rounded-b-lg" action="{% url 'medical:guarda_ficha_identificacion'%}" method="post">
      {% include "expedientes/forms/ficha_identificacion.html" %}
      </form>
    </div>

  </div>

</section>

<script>
  function calcularEdad() {
    let fechaNacimiento = new Date(document.getElementById("fecha_nacimiento").value);
    let ahora = new Date();

    let edad = ahora.getFullYear() - fechaNacimiento.getFullYear();
    let meses = ahora.getMonth() - fechaNacimiento.getMonth();

    // Verificar si aún no ha cumplido años
    if (ahora.getMonth() < fechaNacimiento.getMonth() ||
        (ahora.getMonth() == fechaNacimiento.getMonth() && ahora.getDate() < fechaNacimiento.getDate())) {
      edad--;
      meses += 12;
    }

    document.getElementById("edad").value = edad + " años y " + meses + " meses";
  }
</script>

{% endblock %}